@tailwind base;
@tailwind components;
@tailwind utilities;

.star-item{
    display: inline-block;
    margin-bottom: 4px;
}

input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 1rem;
    margin-top: -0.4rem;
    pointer-events: auto;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active{
    border: solid 1px #8fcce4;
}

input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 1rem;
    margin-top: -0.4rem;
    pointer-events: auto;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active{
    border: solid 1px #8fcce4;
}

input[type="range"]::-ms-thumb{
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 1rem;
    margin-top: -0.4rem;
    pointer-events: auto;
    cursor: pointer;
}

input[type="range"]::-ms-thumb:active{
    border: solid 1px #8fcce4;
}

button.slick-arrow::before {
    font-size: 40px !important;
    color: #cfde62 !important;
}

.slick-next {
    right: 33px !important;
    top: 45% !important;
}

.slick-prev {
    left: 10px !important;
    z-index: 10 !important;
    top: 45% !important;
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    
    }